.md-input, .md-datepicker-input {
  font-size: 12px;
  
}
.md-select , .md-select-value {
  font-size: 12px;
  
}

label {
  font-size: 12px;
  
}
fieldset {
    font-size: 12px;
    color: rgba(0,0,0,1);
    border-color:rgba(0,0,0,0.26);
    display: inline-block;
    border: 1px groove;
}

md-icon {
    height: 18px !important;
    width: 18px !important;
    
}
.md-button.md-icon-button {
    height: 30px !important;
    width: 30px !important;
    
}
md-button {
    min-height: 30px !important;
}