.md-input, .md-datepicker-input {
  font-size: 12px;
  
}

label {
  font-size: 12px;
  
}
fieldset {
    font-size: 12px;
    color: rgba(0,0,0,0.26);
    border-color:rgba(0,0,0,0.26);
    display: inline-block;
}