<!doctype html>
<html ng-app="appNeaClient" ng-controller="rootController">
  <head>
     <!-- Angular Material CSS now available via Google CDN; version 0.11.2 used here -->
    <!--link rel="stylesheet" href="assets/libs/angular-material/angular-material.min.css"-->
      <link rel="stylesheet"    href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">

      
   <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 0.11.2 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.js"></script>
    
    
      
    <!-- Facebook sdk -->
    <!--script src="assets/libs/angular-facebook/angular-facebook.js"></script-->
    <!--AppNea code -->
    <script src="src/common/constant.js"></script>
    <script src="src/app_material.js"></script>
    <script src="src/service/freediver_service.js"></script>
    <script src="src/service/facebook_service.js"></script> 
    <script src="src/controller/freediver_controller.js"></script>
    <script src="src/controller/root_controller.js"></script>
    <script src="src/controller/sidenav_controller.js"></script>
    
    
  </head>
  <body ng-controller="freediverController" layout="column">
        
      
    <md-toolbar ng-controller="MyController">  
            <div class="md-toolbar-tools">
               
                <span flex>app-nea</span>
                <div  ng-show="freediver==null" class="fb-login-button" data-max-rows="1" data-size="small" data-show-faces="false" data-auto-logout-link="true"></div>
                <md-button class="md-icon-button" aria-label="Settings" ng-click="openLeftMenu()" ng-show="freediver!=null" >
                    <md-icon md-svg-icon="assets/img/menu.svg"></md-icon>
                </md-button>
            </div>
    </md-toolbar>
    <md-content layout="row" layout-fill style="min-height: 224px;">
       <div ng-include="'src/view/divesession_view_material.html'"></div>
       <md-sidenav md-component-id="right" class="md-sidenav-right">
           <md-toolbar>
               <div class="md-toolbar-tools">
                   <md-icon md-svg-icon="assets/img/ic_account_box_white_18px.svg" class="avatar"></md-icon>   
                   <span>{{freediver.externalUsername}}</span>
               </div>
                     
            </md-toolbar>
            <md-list>
                <md-list-item>
                    <md-button ng-click="logout()"> Logout</md-button>
                </md-list-item>
            </md-list>
          
       </md-sidenav>
 
       
    </md-content>
    <div layout="row" layout-sm="column" layout-align="space-around">
        <md-progress-circular md-mode="{{spinner}}"></md-progress-circular>
    </div>
            
    <md-button class="md-fab md-fab-bottom-right" aria-label=”Add”>
        <ng-md-icon icon=”add”></ng-md-icon>
    </md-button>
    
  </body>
</html>