<md-content flex>
            <md-list>
                
                <md-list-item  ng-repeat="diveSession in freediver.diveSessions">
                     <div >
        
                        <small><strong>{{diveSession.locationDesc}}</strong></small>
                        <table>
                            <tr>
                            <td><small><i>{{diveSession.note}}</i></small></td>
                            </tr>
                        </table>
                    </div>
                </md-list-item>
               
            </md-list>          
        </md-content>