<!-- toobar -->
    <md-toolbar layout-align="space-between end">
        <div class="md-toolbar-tools" layout-align="space-between end">
            <md-button class="md-icon-button" ng-show="fbStatus == 0" aria-label="back" ng-click="back()" >
                    <!--md-icon flex md-svg-src="assets/img/menu.svg"></md-icon-->
                    <md-icon flex md-font-set="material-icons">arrow_back</md-icon>

            </md-button>
            <p>Dive</p>
            <div ng-show="fbStatus == 0">
                <md-button aria-label="save" class="md-icon-button" ng-click="saveDive()" >
                    <md-icon icon="done" md-font-set="material-icons">done</md-icon>
                </md-button>
                <md-button aria-label="delete"  class="md-icon-button">
                   <md-icon icon="delete" md-font-set="material-icons" ng-click="showRemoveConfirmation()">delete</md-icon>
                </md-button>
            </div>
            
            
        </div>
    </md-toolbar>

<!-- fab speed dial manage save and delete dive-->
    <!--md-fab-speed-dial md-direction="up" class="md-fab-bottom-right md-scale" md-open="false">
        <md-fab-trigger>
            <md-button aria-label="menu...." class="md-fab"> <md-icon flex md-font-set="material-icons">reorder</md-icon></md-icon></md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="save" class="md-fab md-mini" ng-click="saveDive()" >
                <md-icon icon="add" md-font-set="material-icons">done</md-icon>
            </md-button>
            <md-button aria-label="delete"  class="md-fab md-mini">
               <md-icon icon="add" md-font-set="material-icons" ng-click="removeDive()">delete</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial-->
    


 <!--**************************DIVE DETAIL SECTION*******************************-->
    <!-- this content is used to show dive detail both for edit and display mode -->
    <md-content layout-margin> 
        <div ng-show="!spinner">
            <form name="diveForm" layout-margin> 
                <div layout="column"> 
                    <!-- default diveDate is the date of the parent diveSession. It is not a field of this view but it is required because will be
                    shown in the title of the time picker -->
                    <md-input-container > 
                        <div class="input-group" moment-picker="diveTime" format="HH:mm" min-view="hour" start-view="day" default-date={{diveDate}}>
                            <label>Time (HH:mm) </label> 
                            <input name="time" ng-model="diveTime" required> 
                        </div>
                    </md-input-container>
                   
                    <md-input-container>
                        <label>Dive Type</label>
                        <md-select ng-model="dive.diveType">
                          <md-option ng-repeat="type in diveTypes" value="{{type}}">
                            {{type}}
                          </md-option>
                        </md-select>
                    </md-input-container>
                    
                    <div layout>
                        <div flex="25" layout layout-align="left center">
                            <label>Max depth</label>
                        </div>
                        <md-slider flex min="1" max="100" step="0.1" ng-model="dive.maxDepth" aria-label="max depth" id="depth" class>
                        </md-slider>
                        <div flex="5"><span>  </span></div>
                        <div flex="20" layout layout-align="center center">
                            <input flex type="number" ng-model="dive.maxDepth" aria-label="max depth" aria-controls="depth">
                        </div>
                        <div flex="5"><span>  </span></div>
                        <div flex="10" layout layout-align="right center"> <label><i>mt</i></label> </div>
                         
                    </div>
                    <fieldset>
                        <legend>Duration</legend>
                        <div layout="column">
                            <div layout>
                                <div flex="20" layout layout-align="left center">
                                    <label style="color: black">Minutes</label>
                                </div>
                                <md-slider flex  md-discerete min="0" max="10" step="1" ng-model="dive.minute" aria-label="minute" id="minute" class>
                                </md-slider>
                                <div flex="5"><span>  </span></div>
                                <div flex="20" layout layout-align="center center">
                                    <input flex type="number" ng-model="dive.minute" aria-label="minute" aria-controls="minute">
                                </div>
                                <div flex="5"><span>  </span></div>
                                <div flex="10" layout layout-align="right center"> <label><i>m</i></label> </div>
                            </div>

                            <div layout>
                                <div flex="20" layout layout-align="left center">
                                    <label>Seconds</label>
                                </div>
                                <md-slider flex md-discerete min="0" max="59" step="1" ng-model="dive.second" aria-label="second" id="minute" class>
                                </md-slider>
                                <div flex="5"><span>  </span></div>
                                <div flex="20" layout layout-align="center center">
                                    <input flex type="number" ng-model="dive.second" aria-label="second" aria-controls="second">
                                </div>
                                 <div flex="5"><span>  </span></div>
                                <div flex="10" layout layout-align="right center"> <label><i>s</i></label> </div>
                            </div>
                        </div>   
                    </fieldset>

                    <div layout>
                        <div flex="25" layout layout-align="left center">
                            <label>Neutral Buoyance</label>
                        </div>
                        <md-slider flex min="1" max="50" step="0.1" ng-model="dive.neutralBuoyance" aria-label="neutral" id="neutral" class>
                        </md-slider>
                        <div flex="5"><span>  </span></div>
                        <div flex="20" layout layout-align="center center">
                            <input flex type="number" ng-model="dive.neutralBuoyance" aria-label="neutral" aria-controls="neutral">
                        </div>
                        <div flex="5"><span>  </span></div>
                        <div flex="10" layout layout-align="right center"> <label><i>mt</i></label> </div>
                    </div>  
                        
                    <div layout>
                        <div flex="25" layout layout-align="left center">
                            <label>Weight</label>
                        </div>
                        <md-slider flex min="1" max="10" step="0.5" ng-model="dive.weight" aria-label="weight" id="weight" class>
                        </md-slider>
                        <div flex="5"><span>  </span></div>
                        <div flex="20" layout layout-align="center center">
                            <input flex type="number" ng-model="dive.weight" aria-label="weight" aria-controls="weight">
                        </div>
                        <div flex="5"><span>  </span></div>
                        <div flex="10" layout layout-align="right center"> <label><i>kg</i></label> </div>
                    </div>

                    <div layout>
                        <div flex="25" layout layout-align="left center">
                            <label>Bottom Temp.</label>
                        </div>
                        <md-slider flex min="0" max="40" step="0.1" ng-model="dive.depthTemp" aria-label="depthTemp" id="depthTemp" class>
                        </md-slider>
                        <div flex="5"><span>  </span></div>
                        <div flex="20" layout layout-align="center center">
                            <input flex type="number" ng-model="dive.depthTemp" aria-label="depthTemp" aria-controls="depthTemp">
                        </div>
                        <div flex="5"><span>  </span></div>
                        <div flex="10" layout layout-align="right center"> <label><i>°C</i></label> </div>
                    </div>
                    
                    
                    <md-input-container > 
                        <label>Equipment</label> 
                        <input ng-model="dive.equipment"> 
                    </md-input-container>

                    
                    <md-input-container > 
                        <label>Note</label> 
                        <textarea ng-model="dive.note" columns="1" md-maxlength="150"></textarea> 
                    </md-input-container> 

                </div>
            </form> 
        </div>
    </md-content> 

