<!-- toobar -->
    <md-toolbar layout-align="space-between end">
        <div class="md-toolbar-tools" layout-align="space-between end">
            <md-button class="md-icon-button" ng-show="fbStatus == 0" aria-label="back" ng-click="back()" >
                    <!--md-icon flex md-svg-src="assets/img/menu.svg"></md-icon-->
                    <md-icon flex md-font-set="material-icons">arrow_back</md-icon>

            </md-button>
            <p>Dive</p>
            <div ng-show="fbStatus == 0">
                <md-button aria-label="save" class="md-icon-button" ng-click="saveDive()" >
                    <md-icon icon="done" md-font-set="material-icons">done</md-icon>
                </md-button>
                <md-button aria-label="delete"  class="md-icon-button">
                   <md-icon icon="delete" md-font-set="material-icons" ng-click="showRemoveConfirmation()">delete</md-icon>
                </md-button>
            </div>
            
            
        </div>
    </md-toolbar>

<!-- fab speed dial manage save and delete dive-->
    <!--md-fab-speed-dial md-direction="up" class="md-fab-bottom-right md-scale" md-open="false">
        <md-fab-trigger>
            <md-button aria-label="menu...." class="md-fab"> <md-icon flex md-font-set="material-icons">reorder</md-icon></md-icon></md-button>
        </md-fab-trigger>
        <md-fab-actions>
            <md-button aria-label="save" class="md-fab md-mini" ng-click="saveDive()" >
                <md-icon icon="add" md-font-set="material-icons">done</md-icon>
            </md-button>
            <md-button aria-label="delete"  class="md-fab md-mini">
               <md-icon icon="add" md-font-set="material-icons" ng-click="removeDive()">delete</md-icon>
            </md-button>
        </md-fab-actions>
    </md-fab-speed-dial-->
    


 <!--**************************DIVE DETAIL SECTION*******************************-->
    <!-- this content is used to show dive detail both for edit and display mode -->
    <md-content layout-margin> 
        <div ng-show="!spinner">
            <form name="diveForm" layout-margin> 
                <div layout="column"> 
                    <md-input-container > 
                        <label>Time</label> 
                        <input name="time" ng-model="dive.diveTime" required> 
                    </md-input-container> 
                    <md-input-container > 
                        <label>Dive type</label> 
                        <input name="diveType" ng-model="dive.diveType" required> 
                        </md-input-container> 
                    <md-input-container > 
                        <label>Equipment</label> 
                        <input ng-model="dive.equipment"> 
                    </md-input-container>
                    <div layout="row">
                        <md-input-container > 
                            <label>Max depth</label> 
                            <input ng-model="dive.maxDepth"> 
                        </md-input-container>
                        <md-input-container > 
                            <label>Duration</label> 
                            <input ng-model="dive.duration"> 
                        </md-input-container>
                        <md-input-container > 
                            <label>Neutral buoyance</label> 
                            <input ng-model="dive.neutralBuoyance"> 
                        </md-input-container>
                        <md-input-container > 
                            <label>Temp bottom</label> 
                            <input ng-model="dive.depthTemp"> 
                        </md-input-container> 
                        <md-input-container > 
                            <label>Weight</label> 
                            <input ng-model="dive.weight"> 
                        </md-input-container> 
                    </div>
                    <md-input-container > 
                        <label>Note</label> 
                        <textarea ng-model="dive.note" columns="1" md-maxlength="150"></textarea> 
                    </md-input-container> 
                </div>
            </form> 
        </div>
    </md-content> 

